@charset "Shift_JIS";

/*--------------------------------------------------------
  共通レイアウトパーツ設定
--------------------------------------------------------*/
/* ヘッダー内パーツ */
#hpb-headerMain{
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0;
    width: 430px;
    float: left;
    z-index: 2;
}

#hpb-headerMain h1{
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0;
    padding-top: 8px;
    padding-right: 0;
    padding-bottom: 0;
    padding-left: 0;
    text-align: left;
    font-weight: normal;
    line-height: 12px;
    font-size: 10px;
}

#hpb-headerLogo{
    width: 500px;
    float: left;
}

#hpb-headerLogo a{
    display: block;
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0;
    padding-top: 0;
    padding-right: 0;
    padding-bottom: 0;
    padding-left: 0;
    text-indent: -9999px;
    overflow: hidden;
    height: 58px;
    background-image : url(logo_8Ab.png);
    background-position: center left;
    background-repeat: no-repeat;
}

#hpb-headerExtra1{
    width: 350px;
    margin-top: 10px;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0;
    padding-top: 0;
    padding-right: 0;
    padding-bottom: 0;
    padding-left: 0;
    height: 43px;
    float: right;
    text-align: right;
}

#hpb-headerExtra1 p.tel{
    /* 電話番号の文字設定 */
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0;
    padding-top: 5px;
    padding-right: 0;
    padding-bottom: 0;
    padding-left: 0;
    font-size: 1.3em;
    line-height: 16px;
    text-align: right;
    color: #9AC001;
    font-weight: bold;
}

#hpb-headerExtra1 p.tel span{
    /* 電話番号の「TEL」文字設定 */
    font-size: 12px;
    font-weight: normal;
    padding-right: 10px;
    color: #000000;
}

#hpb-headerExtra1 p.mail{
    /* 住所文字設定 */
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0;
    padding-top: 5px;
    padding-right: 0;
    padding-bottom: 0;
    padding-left: 0;
    text-align: right;
    font-size: 12px;
    line-height: 14px;
}

#hpb-headerExtra1 p.mail a{
    /* お問い合わせリンク設定 */
    padding-left: 5px;
    padding-right: 5px;
    font-weight: bold;
}

#hpb-headerExtra1 p.mail a:link{
    background-color: #000000;
    color: #ffffff;
    text-decoration: none;
}
#hpb-headerExtra1 p.mail a:visited{
    background-color: #000000;
    color: #ffffff;
    text-decoration: none;
}
#hpb-headerExtra1 p.mail a:hover{
    background-color: #9AC001;
    color: #ffffff;
    text-decoration: none;
}
#hpb-headerExtra1 p.mail a:active{
    background-color: #9AC001;
    color: #ffffff;
    text-decoration: none;
}

#hpb-headerExtra2{
    height: 30px;
    overflow: hidden;
    text-align: right;
    position: absolute;
    width: 870px;
    top: 0;
    left: 0;
}

#hpb-headerExtra2 ul{
    /* ヘッダーサブナビゲーション設定 */
    display: block;
    margin-top: 5px;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0;
    padding-top: 0;
    padding-right: 0;
    padding-bottom: 0;
    padding-left: 0;
    list-style-type: none;
    border-right-width: 1px;
    border-right-style: solid;
    border-right-color: #000000;
}

#hpb-headerExtra2 li{
    display: inline;
    border-left-width: 1px;
    border-left-style: solid;
    border-left-color: #000000;
    font-size: 12px;
}

#hpb-headerExtra2 li a{
    padding-left: 10px;
    padding-right: 10px;
}

#hpb-headerExtra2 a:link{
    color: #000000;
    text-decoration: none;
}
#hpb-headerExtra2 a:visited{
    color: #000000;
    text-decoration: none;
}
#hpb-headerExtra2 a:hover{
    color: #9AC001;
    text-decoration: underline;
}
#hpb-headerExtra2 a:active{
    color: #9AC001;
    text-decoration: underline;
}


/* フッター内パーツ */
#hpb-footerMain{
    background-color: #000000;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
}

#hpb-footerMain p{
    /* コピーライト文字設定 */
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 3px;
    padding-bottom: 3px;
    font-size: 0.9em;
    text-align: center;
    color: #ffffff;
}

#hpb-footerLogo
{
}

#hpb-footerExtra1{
    margin-top: -50px;
    text-align: left;
}

#hpb-footerExtra1 ul{
    /* フッターサブメニュー設定 */
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0;
    padding-left: 0;
    list-style-type: none;
    border-left-width: 1px;
    border-left-style: solid;
    border-left-color: #000000;
}

#hpb-footerExtra1 li{
    display: inline;
    border-right-width: 1px;
    border-right-style: solid;
    border-right-color: #000000;
    font-size: 12px;
}

#hpb-footerExtra1 li a{
    padding-left: 10px;
    padding-right: 10px;
}

#hpb-footerExtra1 a:link{
    color: #000000;
    text-decoration: none;
}
#hpb-footerExtra1 a:visited{
    color: #000000;
    text-decoration: none;
}
#hpb-footerExtra1 a:hover{
    color: #9AC001;
    text-decoration: underline;
}
#hpb-footerExtra1 a:active{
    color: #9AC001;
    text-decoration: underline;
}


#hpb-footerExtra2
{
}

/* サイドブロック内パーツ */

/* ランキング */
#ranking{
    background-color: #f0f0f0;
    min-height: 185px;
}

* html #ranking{
    height: 185px; /* for IE6 */
}

#ranking h3{
    background-color: #000000;
    text-align: left;
    color: #ffffff;
    font-size: 1em;
    line-height: 34px;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 5px;
    height: 29px;
}

#ranking img.new{
    float: right;
    margin-top: -10px;
    margin-right: 0;
}

#ranking ol{
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0;
    padding-top: 0;
    padding-right: 0;
    padding-bottom: 0;
    padding-left: 0;
    list-style-type: none;
}

#ranking li{
    display: block;
    border-top-width: 1px;
    border-top-style: solid;
    border-top-color: #ffffff;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #CCCCCC;
    padding-top: 5px;
    padding-bottom: 4px;
    text-align: left;
    padding-right: 5px;
    padding-left: 25px;
    line-height: 1.4;
}

#ranking li img{
    vertical-align: text-top;
}

#ranking a:link{
    color: #000000;
    text-decoration: none;
}
#ranking a:visited{
    color: #000000;
    text-decoration: none;
}
#ranking a:hover{
    color: #9AC001;
    text-decoration: none;
}
#ranking a:active{
    color: #9AC001;
    text-decoration: none;
}

#ranking li#r01{
    background-image : url(rankingNum_8Ab_01.png);
    background-position: 5px 4px;
    background-repeat: no-repeat;
}

#ranking li#r02{
    background-image : url(rankingNum_8Ab_02.png);
    background-position: 5px 4px;
    background-repeat: no-repeat;
}

#ranking li#r03{
    background-image : url(rankingNum_8Ab_03.png);
    background-position: 5px 4px;
    background-repeat: no-repeat;
}

#ranking li#r04{
    background-image : url(rankingNum_8Ab_04.png);
    background-position: 5px 4px;
    background-repeat: no-repeat;
}

#ranking li#r05{
    background-image : url(rankingNum_8Ab_05.png);
    background-position: 5px 4px;
    background-repeat: no-repeat;
}

/* バナー */
#banner{
    margin-top: 15px;
    margin-bottom: 27px;
}

#banner ul{
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0;
    padding-top: 0;
    padding-right: 0;
    padding-bottom: 0;
    padding-left: 0;
    list-style-type: none;
}

#banner li{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 3px;
}

#banner li a{
    display: block;
    text-indent: -9999px;
    overflow: hidden;
}

#banner a#banner-sale{
    /* セールバナー */
    height: 170px;
    background-image : url(banner_8Ab_01.png);
    background-position: center center;
    background-repeat: no-repeat;
}

#banner a#banner-present{
    /* プレゼントバナー */
    height: 56px;
    background-image : url(banner_8Ab_02.png);
    background-position: center center;
    background-repeat: no-repeat;
}

#banner a#banner-magazine{
    /* メルマガバナー */
    height: 56px;
    background-image : url(banner_8Ab_03.png);
    background-position: center center;
    background-repeat: no-repeat;
}

#banner a#banner-rss{
    /* RSSバナー */
    height: 28px;
    background-image : url(banner_8Ab_04.png);
    background-position: center center;
    background-repeat: no-repeat;
}

/* 店舗情報 */
#shopinfo{
    background-color: #f0f0f0;
    padding-bottom: 1px;
}

#shopinfo h3{
    background-color: #000000;
    color: #ffffff;
    height: 30px;
    line-height: 32px;
    text-align: left;
}

#shopinfo h3 span.ja{
    font-size: 0.9em;
    padding-left: 10px;
}

#shopinfo h4{
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
    font-size: 1.1em;
    padding-top: 0;
    padding-left: 10px;
    padding-right: 10px;
    color: #000000;
}

#shopinfo p{
    margin-left: auto;
    margin-right: auto;
    line-height: 1.5;
    padding-left: 10px;
    padding-right: 10px;
}

#shopinfo a{
    line-height: 1.7;
}

/*--------------------------------------------------------
  ナビゲーションデザイン設定
--------------------------------------------------------*/

#hpb-nav li a
{
    /* ナビゲーション文字設定 */
}


/*--------------------------------------------------------
  基本パーツデザイン設定
--------------------------------------------------------*/

/* リンク文字色 */
a:link{
    color: #2F8DF7;
    text-decoration: underline;
}
a:visited{
    color: #2F8DF7;
    text-decoration: underline;
}
a:hover{
    color: #0765CD;
    text-decoration: underline;
}
a:active{
    color: #0765CD;
    text-decoration: underline;
}

#hpb-skip{
    /* ヘッダースキップの非表示 */
    height: 1px;
    margin: 0;
    padding: 0;
    overflow: hidden;
    text-indent: -9999px;
}

p{
    margin-top: 0.5em;
    margin-bottom: 1.5em;
    padding-right: 0.1em;
    padding-left: 0.1em;
    line-height: 1.4;
    text-align: left;
}

p.large{
    font-weight: bold;
    font-size: 1.2em;
    margin-bottom: 0.4em;
    color: #9AC001;
}
p.indent{
    padding-left: 15px;
}

p.price{
    color: #FF6600;
    text-align: right;
    font-size: 1.2em;
}

p.more{
    margin-bottom: 0;
    text-align: right;
    padding-right: 5px;
}

p.more a{
    display: block;
    width: 46px;
    height: 13px;
    margin-left: auto;
    background-image : url(more_8Ab.png);
    background-position: top left;
    background-repeat: no-repeat;
    text-align: left;
    text-indent: -9999px;
    overflow: hidden;
}

p.icon{
    margin-top: 2px;
    margin-bottom: 2px;
    padding-top: 0;
    padding-bottom: 0;
    font-size: 0.5em;
}

#hpb-main p.icon img{
    margin-top: 0;
    margin-bottom: 0;
    margin-right: 5px;
}

.left{
    float: left;
}
.right{
    float: right;
}

hr{
    width: 100%;
    height: 1px;
    margin-top: 0;
    margin-right: auto;
    margin-bottom: 20px;
    margin-left: auto;
    padding-top: 0;
    padding-right: 0;
    padding-bottom: 0;
    padding-left: 0;
    clear: both;
    border-top-width: 1px;
    border-top-style: none;
    border-right-width: 1px;
    border-right-style: none;
    border-left-width: 1px;
    border-left-style: none;
    color: #ffffff;
    border-bottom-width: 1px;
    border-bottom-style: none;
}

.hpb-layoutset-02 h2{
    margin-top: 0;
    background-color: #000000;
    background-image : url(titleBg_8Ab.png);
    background-position: top left;
    background-repeat: repeat-x;
    text-align: left;
    overflow: hidden;
    height: 50px;
    line-height: 55px;
}

.hpb-layoutset-02 h2 span.ja{
    font-size: 1.2em;
    color: #ffffff;
    padding-left: 15px;
    padding-right: 15px;
}

.hpb-layoutset-02 h2 span.en{
    color: #9AC001;
    font-size: 0.9em;
    text-transform: uppercase;
}

#hpb-wrapper h3{
    height: 25px;
    margin-top: 20px;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0;
    padding-top: 0;
    padding-bottom: 5px;
    padding-left: 10px;
    text-align: left;
    background-image : url(indexBg_8Ab.png);
    background-position: top right;
    background-repeat: repeat-x;
    color: #ffffff;
    font-size: 1.15em;
    text-align: left;
    line-height: 27px;
    overflow: hidden;
    clear: both;
}

h3.hpb-c-index{
    height: 1px;
    margin: 0;
    padding: 0;
    overflow: hidden;
    text-indent: -9999px;
    background: none;
}

#hpb-main h3 img{
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 15px;
    vertical-align: middle;
}


h4{
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0;
    padding-top: 5px;
    padding-right: 10px;
    padding-bottom: 0;
    padding-left: 0;
    text-align: left;
    font-size: 1.2em;
    line-height: 1.2;
    font-weight: bold;
    color: #9AC001;
}

h4 img{
    margin-left: 15px;
}

h5{
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 5px;
    text-align: left;
    font-size: 1.1em;
    line-height: 1.5;
    font-weight: bold;
}

table{
    margin-top: 5px;
    margin-right: 0;
    margin-bottom: 5px;
    margin-left: 0;
    border-collapse: collapse;
    border-top-width: 1px;
    border-top-style: solid;
    border-top-color: #000000;
}

table th{
    padding-top: 5px;
    padding-right: 10px;
    padding-bottom: 5px;
    padding-left: 10px;
    text-align: left;
    background-color: #9AC001;
    color: #ffffff;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #000000;
    white-space: nowrap;
}

table td{
    padding-top: 5px;
    padding-right: 10px;
    padding-bottom: 5px;
    padding-left: 10px;
    text-align: left;
    background-color: #f0f0f0;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #000000;
}

/* フォームパーツ設定 */
input.button{
    margin-top: 10px;
    margin-bottom: 15px;
}

textarea{
    width: 380px;
    height: 200px;
}

input.l{
    width: 380px;
}
input.m{
    width: 250px;
}
input.s{
    width: 50px;
}


/* メインコンテンツ内基本パーツ */

#hpb-main ul{
    margin-top: 5px;
    margin-right: 0;
    margin-bottom: 20px;
    margin-left: 0;
    padding-top: 0;
    padding-right: 0;
    padding-bottom: 0;
    padding-left: 0;
    list-style-type: none;
}

#hpb-main ul li{
    text-align: left;
    line-height: 1.4;
    padding-top: 5px;
    padding-right: 15px;
    padding-bottom: 5px;
    padding-left: 15px;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #000000;
    background-image : url(point_8Ab.png);
    background-position: 5px 10px;
    background-repeat: no-repeat;
}

#hpb-main dl{
    margin-top: 5px;
    margin-right: 0;
    margin-bottom: 20px;
    margin-left: 0;
    padding-top: 0;
    padding-right: 0;
    padding-bottom: 0;
    padding-left: 0;
}

#hpb-main dt{
    float: left;
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0;
    text-align: left;
    line-height: 1.4;
    font-weight: normal;
    width: 9em !important;
    padding-top: 5px;
    padding-right: 0;
    padding-bottom: 5px;
    padding-left: 2px;
    color: #9AC001;
    font-weight: bold;
}

#hpb-main dd{
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0;
    padding-top: 5px;
    padding-right: 0;
    padding-bottom: 5px;
    text-align: left;
    line-height: 1.4;
    padding-left: 10em;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #000000;
}

* html #hpb-main dd{
    height: 1%; /* for IE6 */
}

#hpb-main dl:after{
    content: ".";
    clear: both;
    height: 0;
    display: block;
    visibility: hidden;
}

#hpb-main img{
    margin-top: 5px;
    margin-bottom: 10px;
}

#hpb-main img.left{
    margin-top: 5px;
    margin-right: 20px;
    margin-bottom: 10px;
    float: left;
}

#hpb-main img.right{
    margin-top: 5px;
    margin-bottom: 10px;
    margin-left: 20px;
    float: right;
}

#pagetop{
    margin-top: 10px;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: auto;
    text-align: right;
}

#pagetop a{
    /* ページの先頭へのリンク設定 */
    display: block;
    width: 90px;
    height: 13px;
    background-image : url(returnTop_8Ab.png);
    background-position: center left;
    background-repeat: no-repeat;
    text-align: left;
    text-indent: -9999px;
    overflow: hidden;
    margin-left: auto;
    margin-right: 0;
}


/* トップページ デザイン定義 */
.hpb-layoutset-01 #hpb-title h2{
    height: 185px;
    background-image : url(mainimg_8Ab.png);
    text-align: left;
    text-indent: -9999px;
    overflow: hidden;
    margin-top: 0;
    margin-bottom: 0;
}

/* 新商品情報 */
#toppage-item div.item{
    width: 342px;
    float: left;
}

#toppage-item img.itemimg{
    float: left;
    margin-left: 5px;
    margin-right: 7px;
    border-top-width: 1px;
    border-top-style: solid;
    border-top-color: #000000;
    border-right-width: 1px;
    border-right-style: solid;
    border-right-color: #000000;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #000000;
    border-left-width: 1px;
    border-left-style: solid;
    border-left-color: #000000;
}

#toppage-item h4{
    font-size: 1.2em;
    text-align: left;
    width: 172px;
    float: right;
    margin-right: 5px;
    margin-left: auto;
    color: #000000;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #000000;
}

#toppage-item p{
    padding-left: 5px;
    padding-right: 6px;
    margin-bottom: 0;
}

#toppage-item p.price{
    margin-top: 30px;
    text-align: right;
}


/* 特集 */
#hpb-main #toppage-special ul{
    margin-top: 10px;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0;
    padding-top: 0;
    padding-right: 0;
    padding-bottom: 0;
    padding-left: 0;
}

#hpb-main #toppage-special li{
    border-bottom-width: 0px;
    border-bottom-style: none;
    border-bottom-color: #ffffff;
    background-image: none;
    display: block;
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0;
    padding-top: 0;
    padding-right: 0;
    padding-bottom: 15px;
    padding-left: 0;
}

#hpb-main #toppage-special a{
    display: block;
    text-align: left;
    text-indent: -9999px;
    overflow: hidden;
}

/* バーゲンスタート */
#special-bargain{
    width: 685px;
}
#special-bargain a{
    height: 100px;
    background-image : url(specialBanner_8Ab_01.png);
    background-position: top left;
    background-repeat: no-repeat;
}

/* ギフト特集 */
#special-gift{
    width: 335px;
    float: left;
}
#special-gift a{
    height: 80px;
    background-image : url(specialBanner_8Ab_02.png);
    background-position: top left;
    background-repeat: no-repeat;
}

/* アウトレット特集 */
#special-outlet{
    width: 335px;
    float: right;
}
#special-outlet a{
    height: 80px;
    background-image : url(specialBanner_8Ab_03.png);
    background-position: top left;
    background-repeat: no-repeat;
}

/* 今月のお買い得 */
#special-pricedown{
    width: 335px;
    float: left;
}
#special-pricedown a{
    height: 80px;
    background-image : url(specialBanner_8Ab_04.png);
    background-position: top left;
    background-repeat: no-repeat;
}

/* スタッフおすすめ */
#special-recommend{
    width: 335px;
    float: right;
}
#special-recommend a{
    height: 80px;
    background-image : url(specialBanner_8Ab_05.png);
    background-position: top left;
    background-repeat: no-repeat;
}


/* 商品一覧ページ デザイン定義 */
h3 span.cat{
    font-weight: normal;
    color: #ffff00;
    padding-right: 10px;
    font-size: 0.9em;
}

#item .item{
    width: 163px;
    margin-right: 7px;
    margin-bottom: 7px;
    float: left;
    background-color: #f0f0f0;
    padding-bottom: 5px;
}

#item .itemimg{
    margin-top: 10px;
    margin-bottom: 0;
    border-top-width: 1px;
    border-top-style: solid;
    border-top-color: #000000;
    border-right-width: 1px;
    border-right-style: solid;
    border-right-color: #000000;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #000000;
    border-left-width: 1px;
    border-left-style: solid;
    border-left-color: #000000;
}

#item h4{
    margin-top: 0;
    margin-bottom: 0;
    font-size: 1em;
    line-height: 1.3;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 2px;
    color: #000000;
}

#item p.icon{
    height: 15px;
    line-height: 15px;
    padding-left: 5px;
    padding-right: 5px;
}

#item p.price{
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 5px;
    padding-right: 5px;
    text-align: left;
    font-size: 1.1em;
    float: left;
}

#item p.more{
    margin-top: 2px;
}

/* 商品詳細ページ デザイン定義 */
#detail .price{
    font-size: 1.3em;
    margin-bottom: 0;
    padding-top: 5px;
}

#hpb-wrapper #detail h3{
    color: #000000;
    font-size: 1.3em;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #000000;
    padding-left: 5px;
    background-image: none;
    margin-bottom: 10px;
}

/* 注文方法ページ デザイン定義 */
#flow{
    background-color: #cccccc;
    font-size: 1.2em;
    margin-left: 10px;
    margin-right: 10px;
}

#flow ol{
    color: #000000;
    text-align: left;
    font-weight: bold;
}

#flow ol li{
    background-color: #f0f0f0;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 40px;
    padding-bottom: 10px;
    background-image : url(flowArrow_8Ab.png);
    background-position: 40px 0px;
    background-repeat: no-repeat;
}

#flow ol li:first-child{
    padding-top: 10px;
    background-image: none;
}

/* キャンペーンページ デザイン定義 */
#campaign .image{
    height: 220px;
    text-align: left;
    text-indent: -9999px;
    overflow: hidden;
    margin-bottom: 5px;
}

#spring .image{
    background-image : url(springcamp_8Ab.png);
    background-position: center center;
    background-repeat: no-repeat;
}

#summer .image{
    background-image : url(summercamp_8Ab.png);
    background-position: center center;
    background-repeat: no-repeat;
}

#autumn .image{
    background-image : url(autumncamp_8Ab.png);
    background-position: center center;
    background-repeat: no-repeat;
}

#winter .image{
    background-image : url(wintercamp_8Ab.png);
    background-position: center center;
    background-repeat: no-repeat;
}

#campaign .item{
    background-color: #f0f0f0;
    padding-top: 5px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 5px;
    min-height: 230px;
}

* html #campaign .item{
    height: 230px; /* for IE6 */
}

#campaign .item:after{
    content: ".";
    clear: both;
    height: 0;
    display: block;
    visibility: hidden;
}

#campaign .item img{
    border-top-width: 1px;
    border-top-style: solid;
    border-top-color: #000000;
    border-right-width: 1px;
    border-right-style: solid;
    border-right-color: #000000;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #000000;
    border-left-width: 1px;
    border-left-style: solid;
    border-left-color: #000000;
    margin-left: 15px;
    margin-right: 15px;
}
